<div class="message message-right" id="message-<%= message.id %>">
  <!-- Avatar -->
  <div class="avatar avatar-sm ml-4 ml-lg-5 d-none d-lg-block">
      <%=image_tag("profile.jpg")%>
  </div>
  <!-- Message: body -->
  <div class="message-body">
      <!-- Message: row -->
      <div class="message-row">
          <div class="d-flex align-items-center justify-content-end">
              <!-- Message: content -->
              <div class="message-content bg-primary text-white">
                  <div><%= message.content %></div>
                  <div class="mt-1">
                      <small class="opacity-65"><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
                  </div>
              </div>
              <!-- Message: content -->

          </div>
      </div>
      <!-- Message: row -->
  </div>
  <!-- Message: body -->
</div>
