<div class="message">
  <!-- Avatar -->
  <a class="avatar avatar-sm mr-4 mr-lg-5" href="#" data-chat-sidebar-toggle="#chat-1-user-profile">
      <%= image_tag("logo.jpg") %>
  </a>
  <!-- Message: body -->
  <div class="message-body">
      <!-- Message: row -->
      <div class="message-row">
          <div class="d-flex align-items-center">
              <!-- Message: content -->
              <div class="message-content bg-light">
                  <h6 class="mb-2">Ministry of Social Development</h6>
                  <div>
                  <% message.each do |line| %>
                    <div><%= line %></div>
                  <% end %>
                  </div>
              </div>
              <!-- Message: content -->
          </div>
      </div>
      <!-- Message: row -->
  </div>
  <!-- Message: Body -->
</div>
