<section class="layout">
   <!-- Main Content -->
   <div class="main main-visible main-login" data-mobile-height="">
    <div class="login-header py-4 py-lg-6 px-lg-8">
        <div class="container-xxl">
            <div class="row align-items-center">
              <!-- Chat photo -->
              <div class="col-6 col-xl-6">
                  <div class="media text-center text-xl-left">
                    <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                        <%=image_tag("logo.jpeg")%>
                    </div>
                    <h1>MyMSD<em>chat</em></h1>
                  </div>
              </div>
            </div>
            <!-- .row -->
        </div>
      </div>
      <div class="login">
         <div class="btn-wrapper col-md-6 col-lg-6 mx-auto">
            <div class="text-center pt-10 mt-8">
               <button class="btn btn-primary btn-block">Login</button>
            </div>
            <h4 class="text-center my-8">OR</h4>
            <div class="text-center pb-10 mb-8">
               <button class="btn btn-primary btn-block">Register</button>
            </div>
         </div>   
      </div>
   </div>
</section>