<section class="layout">
    <!-- Main Content -->
    <div class="main main-visible" data-mobile-height="">

        <!-- Chat -->
        <div id="chat-1" class="chat dropzone-form-js" data-dz-url="some.php">

            <!-- Chat: body -->
            <div class="chat-body">

                <!-- Chat: Header -->
                <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                    <div class="container-xxl">
                        <div class="row align-items-center">

                            <!-- Chat photo -->
                            <div class="col-6 col-xl-6">
                                <div class="media text-center text-xl-left">
                                    <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                        <%=image_tag("logo.jpg")%>
                                    </div>

                                    <h1>MyMSD<em>chat</em></h1>
                                </div>
                            </div>
                        </div><!-- .row -->
                    </div>
                </div>
                <!-- Chat: Header -->
                <!-- Chat: Content-->
                <div class="chat-content px-lg-8">
                    <div class="container-xxl py-6 py-lg-10" id='messages'>
                    </div>
                </div>
                <!-- Chat: Content -->

                <!-- Chat: Footer -->
                <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                    <div class="container-xxl">
                        <form id="chat-id-1-form">
                            <div class="form-row align-items-center">
                                <div class="col">
                                    <div class="input-group">
                                        <!-- Textarea -->
                                        <textarea id="chat-id-1-input" class="form-control bg-grey border-0" placeholder="Type your message..." rows="1" data-emoji-input="" data-autosize="true"></textarea>
                                    </div>
                                </div>
                                <!-- Submit button -->
                                <div class="col-auto">
                                    <button class="btn btn-ico btn-primary rounded-circle col-auto" type="submit">
                                        <span><i class="fas fa-paper-plane"></i></span>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Chat: Footer -->
            </div>
            <!-- Chat: body -->

        </div>
        <!-- Chat -->

    </div>
    <!-- Main Content -->

</section>
<!-- Layout -->

<script>
    scrollingElement = (document.scrollingElement || document.body)
    function scrollToBottom() {
        scrollingElement.scrollTop = scrollingElement.scrollHeight;
    }

    function submitOnEnter(event){
        if(event.which === 13 && !event.shiftKey){
            event.target.form.dispatchEvent(new Event("submit", {cancelable: true}));
            event.target.value = "";
            event.preventDefault();
        }
    }

    document.getElementById("chat-id-1-input").addEventListener("keypress", submitOnEnter);

    document.getElementById("chat-id-1-form").addEventListener("submit", (event) => {
        event.preventDefault();
        console.log("form submitted");
    });

</script>
